//Definimos las variables correspondientes

$color_gris: grey;

$color_rojo: red;

$color_header: $color_gris;

$link_normal: black;

$link_hover: red;

$link_visitado: blue;

$link_activo: rgb(0, 255, 0);

.header {
  background-color: $color_header;
}

a {
  color: $link_normal;
  text-decoration: none;

  //Si el elemeto a realiza alguna de estas funciones entonces realiza la funcion correspondiente asignada

  //& = a (elemento padre)

  &:hover {
    color: $link_hover;
  }

  &:visited {
    color: $link_visitado;
  }

  &:active {
    color: $link_activo;
  }
}
